* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  background: #f7f7f7 url(../images/geometry.png) 0 0 no-repeat;
  background-size: cover;
  color: #333;
}
h1, h2, h3 {
  margin: 0;
  text-rendering: optimizeLegibility;
  text-align: center;
}
h1 {
  font-weight: 400;
  font-size: 3em;
}
h2 {
  font-weight: 300;
  margin-top: 0.5em;
}
section {
  margin: 1.5em auto;
  width: 400px;
}
button {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 200px;
  height: 200px;
  border: 0;
  border-radius: 50%;
  padding: .7em 1em;
  margin: 4em auto 3em;
  text-align: center;
  color: #fff;
  background: linear-gradient(180deg, #39C2C9 0%, #3FC8C9 80%, #3FC8C9 100%);
  box-shadow: 2px 5px 30px rgba(63, 200, 201, .4);
  will-change: transform, filter;
  transition: all 0.3s ease-out;
}
button:hover {
  transform: scale(.92);
}
button:active {
  filter: brightness(.8);
}
button:focus {
  outline: 0;
}

button i {
  font-size: 124px;
}

.ion-radio-waves:before{
  animation: scaleInOut 2s 0s ease-in-out infinite;
}

.github-link{
  font-size: 40px;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top: 50px solid #ccc;
  border-left: 50px solid #ccc;
  display: block;
  opacity: .6;
}
.github-link:hover {
  opacity: 1;
}

.github-link i {
  position: absolute;
  background: none;
  overflow: hidden;
  left: 10px;
  top: 6px;
  color: black;
}
.ion-load-d{
  font-size: 40px;
}
.ion-load-d:before{
  
  animation: ratation 4s 0s linear infinite;
}

@keyframes ratation {
  0%{
    transform: rotateZ(0DEG)
  }
  100% {
    transform: rotateZ(360DEG)
  }
}

@keyframes scaleInOut {
  0%,100% {
    transform: scale(1);
  } 
  50% {
    transform: scale(1.4);
  } 
}